<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Cardo:400i|Open+Sans:700|Raleway:400,600,700&display=swap" rel="stylesheet">
  <%= stylesheet_link_tag 'main.css' %>
</head>
<section id="page-wrapper">
  <!-- Header -->
  <section id="banner">
    <header>
      <h2>Perfect Sell</h2>
      <p>Вы человек творческий, вы создаете какие-то крутые вещи и хотите, <br>чтобы вашей продукцией пользовались другие люди? Мы уверены, что наш онлайн сервис вам поможет!

        Данный сервис предоставляет владельцам магазинов получать предложения по продаже товаров<br> от заинтересованных людей. Часто это могут быть индивидуальные предприниматели, <br>которые создают изделия ручной работы.</p>
      <form action="/stores" target="_blank">
        <button>Перейти на платформу</button>
      </form>
    </header>
  </section>
  </section>
</section>

