<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Cardo:400i|Open+Sans:700|Raleway:400,600,700&display=swap" rel="stylesheet">
  <%= stylesheet_link_tag 'main.css' %>
</head>
<body>
<!-- Intro -->
<div class="intro">
  <div class="intro__inner">

    <h1 class="intro__title">Perfect Sell</h1>
    <p class="intro__subtitle">Данный сервис предоставляет владельцам магазинов получать предложения по продаже товаров от заинтересованных людей. Часто это могут быть индивидуальные предприниматели, которые создают изделия ручной работы.</p>
    <form action="/stores" target="_blank">
      <button>Перейти на платформу</button>
    </form>
  </div>
</div>
</body>