
<!DOCTYPE HTML>
<html>
<head>
  <title>Goods</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <%= stylesheet_link_tag 'main.css' %>
</head>
<body class="goods is-preload">
<section id="page-wrapper">
  <!-- Header -->
  <section id="header">
    <!-- Logo -->
    <h1><a href="/mainpage">Perfect Sell</a></h1>
    <!-- Nav -->
    <nav id="nav">
      <ul>
        <li class="other"><a href="/mainpage">Магазины</a></li>
        <li class="current"><a href="/goods">Предложенные товары</a></li>
        <li class="other"><a href="/mainpage">Аккаунт</a></li>
      </ul>
    </nav>

    <!-- Main -->
    <section id="main">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!-- Goods -->
            <section>
                <div class="container3">
                  <div><h1>Четверочка</h1></div>
                </div>
              <div id=content1>
                <div id="content2">
                  <h2>Данные о магазине</h2>
                  <p class="major">Основная продукция - продукты питания, принимает на рассмотрение продукты домашнего производства</p>
                  <h2>Контакты</h2>
                  <p>bestemail@mail.ru</p>
                  <h2>Товары на рассмотрении</h2>
                  <ul class="actions">
                    <li><a href="#" class="button">Показать товары</a></li>
                  </ul>
                  <h2>Принятые товары</h2>
                  <ul class="actions">
                    <li><a href="#" class="button">Показать товары</a></li>
                  </ul>
                </div>
                <div class="image">
                  <div id="img_shop">
                    <img src="/assets/shop3.jpg" alt="" />
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>
  </section>
</section>
</body>
</html>