<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Cardo:400i|Open+Sans:700|Raleway:400,600,700&display=swap" rel="stylesheet">
  <%= stylesheet_link_tag 'goods.css' %>
  <title>Goods</title>
<body>
</head>
<header class="header">
  <div class="container">
    <div class="header__inner">
      <h1>PerfectSell</h1>
      <nav class="nav">
        <a class="nav__link" href="/mainpage"><p>Магазины</p></a>
        <a class="nav__link" href="/goods"><p>Предложенные товары</p></a>
        <a class="nav__link" href="#"><p>Аккаунт</p></a>
      </nav>
    </div>
  </div>
</header>

<div class="container3">
  <div><h2>Представленные товары</h2></div>
  <a href="" class="button">Добавить товар</a>


</div>

<ul class="products">
  <li class="product-wrapper">
    <div class="product-item">
      <img src="/assets/shop3.jpg">
      <div class="product-list">
        <h3>СуперБокс</h3>
        <span class="text">Супер коробка</span>
        <a href="" class="button">Подробнее</a>
      </div>
    </div>
  </li>
  <li class="product-wrapper">
    <div class="product-item">
      <img src="/assets/shop3.jpg">
      <div class="product-list">
        <h3>Шоколадка</h3>
        <span class="text">Продукты питания</span>
        <a href="" class="button">Подробнее</a>
      </div>
    </div>
  </li>
  <li class="product-wrapper">
    <div class="product-item">
      <img src="/assets/shop3.jpg">
      <div class="product-list">
        <h3>Шоколад</h3>
        <span class="text">Продукты питания, кондитерские изделия</span>
        <a href="" class="button">Площадка магазина</a>
      </div>
    </div>
  </li>
  <li class="product-wrapper">
    <div class="product-item">
      <img src="/assets/shop3.jpg">
      <div class="product-list">
        <h3>Шоколад</h3>
        <span class="text">Продукты питания, кондитерские изделия</span>
        <a href="" class="button">Площадка магазина</a>
      </div>
    </div>
  </li>
  <li class="product-wrapper">
    <div class="product-item">
      <img src="/assets/shop3.jpg">
      <div class="product-list">
        <h3>Шоколад</h3>
        <span class="text">Продукты питания, кондитерские изделия</span>
        <a href="" class="button">Площадка магазина</a>
      </div>
    </div>
  </li>
  <li class="product-wrapper">
    <div class="product-item">
      <img src="/assets/shop3.jpg">
      <div class="product-list">
        <h3>Шоколад</h3>
        <span class="text">Продукты питания, кондитерские изделия</span>
        <a href="" class="button">Площадка магазина</a>
      </div>
    </div>
  </li>
  <li class="product-wrapper">
    <div class="product-item">
      <img src="/assets/shop3.jpg">
      <div class="product-list">
        <h3>Шоколад</h3>
        <span class="text">Продукты питания, кондитерские изделия</span>
        <a href="" class="button">Площадка магазина</a>
      </div>
    </div>
  </li>
  <li class="product-wrapper">
    <div class="product-item">
      <img src="/assets/shop3.jpg">
      <div class="product-list">
        <h3>Шоколад</h3>
        <span class="text">Продукты питания, кондитерские изделия</span>
        <a href="" class="button">Площадка магазина</a>
      </div>
    </div>
  </li>
</ul>
<!-- Features -->

</body>