<!DOCTYPE HTML>
<html>
<head>
  <title>Shops</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <%= stylesheet_link_tag 'main.css' %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body class="homepage is-preload">
<section id="page-wrapper">

  <!-- Header -->
  <section id="header">

    <!-- Logo -->
    <h1><a href="/stores">Perfect Sell</a></h1>
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
    <div class="topnav" id="myTopnav">
      <a href="/stores">Магазины</a>
      <a href="/offers" >Предложенные товары</a>
      <a href="/page_shop "class="active">Аккаунт</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <!-- Main -->
    <section id="main">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!-- Shops -->
            <section>
              <header class="major">

              </header>
              <%if current_user.present? %>
                <header class="major">
                  <h2>Имя пользователя: </h2>
                  <h2><%= "#{current_user.full_name}" %></h2>
                </header>
              <%else %>
              <header class="major">
              <div class="container3">
                <div><h2>Вход на сайт</h2></div>
                <a href="/session/new" class="button">Вход</a>
                <a href="/proposers/sign_up" class="button">Регистрация</a>
              </div>
              </header>
              <header class="major">
                <div class="container3">
                  <div><h2>Регистрация представителя магазина</h2></div>
                  <a href="/stores/new" class="button">Регистрация</a>
                </div>
              </header>
              <header class="major">
                <div class="container3">
                  <div><h2>Регистрация представителя товара</h2></div>
                  <a href="/proposers/new" class="button">Регистрация</a>
                </div>
              </header>
                <%end %>
            </section>
          </div>
        </div>
      </div>
    </section>
  </section>
</section>
</body>
</html>