body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 14px;
    color: #6c7279;
    display: flex;
    flex-direction: column;
    background: #F9DBBD;
}

h1{
    font-family: 'Open Sans', sans-serif;
    color: #F9DBBD;
}

h2{
    font-family: 'Open Sans', sans-serif;
    color: #DB5239;

}
h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

p {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    color: #fff;
}
a {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    color: #fff;
}

/* Container
===================*/
.container {
    display:block;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.container2 {
    display:block;
    alignment: center;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.container3 {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 3px solid green;
    position: relative;
    text-align: center;
    max-width: 1170px;
}

.container3 div{
    display: inline-block;
}
/* Header
===================*/

.header {
    border: 3px solid green;
    width: 100%;
    height: 8%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #DB5239;
    margin:0 ;
}

.header__inner {

    vertical-align: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
}


/* Nav
===================*/

.nav {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    margin-left: 50px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    opacity: 1;
}



.product-wrapper {

    display: grid;
    width: 100%;
    float: left;
    background: #F9DBBD;

}

@media only screen and (min-width: 450px) {
    .product-wrapper {
        width: 50%;
    }
}

@media only screen and (min-width: 768px) {
    .product-wrapper {
        width: 33.333%;
    }
}

@media only screen and (min-width: 1000px) {
    .product-wrapper {
        width: 25%;
    }
}



.products {
    list-style: none;
    padding: 0;
    margin: 0;

}


.product-item {
    margin-left: auto;
    margin-right: auto;
    background-color:#DB5239;
    width: 300px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Open Sans";
    border-radius: 20px;
}

.product-item img {
    display: block;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius:20px;

}

.product-list h3 {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    margin: 10px;
}
.text {
    font-size: 16px;
    color: #ffffff;
    display: block;
    margin-bottom: 12px;
}
.button {
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    background: #ffffff;
    color: #DB5239;
    border-radius: 20px;
    margin: 20px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
}


.product p {
    position: relative;
    margin: 0;
    font-size: 1em;
    line-height: 1.4em;
    height: 5.6em;
    overflow: hidden;
}






