 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1210px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 35px 822px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1.25rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  font-weight: 700;
  margin: -39px 43px 0 auto;
}

.u-section-1 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 16.6667px) calc(33.3333% - 16.6667px) calc(33.3333% - 16.6667px);
  min-height: 829px;
  grid-gap: 25px 25px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-image-1 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: none none double;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-image-2 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-text-5 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-3 {
  border-style: none none double;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-image-3 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-text-7 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-style: italic;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  border-style: none none double;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-image-4 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-8 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-text-9 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-style: italic;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  border-style: none none double;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 707px;
    margin-right: 622px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 681px;
  }

  .u-section-1 .u-image-1 {
    height: 157px;
  }

  .u-section-1 .u-image-2 {
    height: 157px;
  }

  .u-section-1 .u-image-3 {
    height: 157px;
  }

  .u-section-1 .u-image-4 {
    height: 157px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 402px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 12.5px) calc(50% - 12.5px);
    min-height: 793px;
  }

  .u-section-1 .u-image-1 {
    height: 184px;
  }

  .u-section-1 .u-image-2 {
    height: 184px;
  }

  .u-section-1 .u-image-3 {
    height: 184px;
  }

  .u-section-1 .u-image-4 {
    height: 184px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    margin-right: 222px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 299px;
  }

  .u-section-1 .u-image-2 {
    height: 299px;
  }

  .u-section-1 .u-image-3 {
    height: 299px;
  }

  .u-section-1 .u-image-4 {
    height: 299px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    margin-right: 22px;
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-1 {
    height: 264px;
  }

  .u-section-1 .u-image-2 {
    height: 264px;
  }

  .u-section-1 .u-image-3 {
    height: 264px;
  }

  .u-section-1 .u-image-4 {
    height: 264px;
  }
}